<div class="row">
    <div class="contenedor">
        <div class="logo">
            <img src="../../../assets/logoAP1.jpg" id="logoAP">            

        </div>
        <div class="redes">          
                <a href=""><img src="../../../assets/logoLink1.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/logoTwitter8.jpg" id="twitter"></a>
                <a href=""><img src="../../../assets/logoInstagram2.png" id="instagram"></a>
                <a href=""><img src="../../../assets/logoGit2.png" id="github"></a>
                <a href=""><img src="../../../assets/logoFacebook1.png" id="facebook"></a> 
                <button type="button" class="btn btn-outline-primary btn-md">INGRESO</button>           
        </div>

    </div>

</div>

